
.doorbackground{
    display: flex;
    width: 820px;
    height: 1180px;
    padding: 510px 65px 0px 65px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    background-image: url('../iPad-background2.png');
    background-size: cover;
}
.buttondiv{
    display: flex;
    padding: 46px 87px 46px 345px;
    align-items: center;
    gap: 69px;
}
.dooraudiobutton{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-image: url('../button-unpressed.png'); /* Confirm that the path to your image is correct */
    background-size: cover;
    background-color: transparent; /* Change to transparent to ensure no color shows through */
    border: none; /* Removes the border */
    outline: none; /* Removes the outline */
    padding: 10px; /* Adds padding to the inside of the button */
}
.dooraudiobutton:active{
    background-image: url('../button-pressed.png'); /* Confirm that the path to your image is correct */
    background-size: cover;
}

.textdisplay{
    width: 573px;
    height: 341px;
    flex-shrink: 0;
    color: #A1FFAB;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}

.finaltextdisplay{
    width: 573px;
    height: 120px;
    flex-shrink: 0;
    color: #A1FFAB;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}

.audiobutton{
    width: 106px;
    height: 106px;
    background-image: url('../audiobutton-unpressed.png'); /* Confirm that the path to your image is correct */
    background-size: cover;
    background-color: transparent; /* Change to transparent to ensure no color shows through */
    border: none; /* Removes the border */
    outline: none; /* Removes the outline */
}

.audiobutton.pressed{
    width: 103px;
    height: 106px;
    background-image: url('../audiobutton-pressed.png'); /* Confirm that the path to your image is correct */
    background-size: 98.5%;
}